<div class='row-fluid'>

  <div class="span7">
    <%= paginate model, :window => 2  %>
  </div>

  <div class="span5">
    <p class="align-right" style="margin-top: 3em;"><%= page_entries_info model %></p>
  </div>

</div>